<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Show</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">

        function ShowSubmit() {

            $("#div_add_alert").html("Validating Show Data..");

            var show_name = $('#showName').val();
            var exhibit = $('#exhibit').val();
            var staff = $('#species').val();
            var date_time = $('#date_time').val();
            var time = $('#time').val();

            /* if (animal_name.length !== 0 && species.length !== 0 && exhibit.length !== 0 && (age >= 0) && type.length !== 0) {
                 $.ajax({
                     url: '/addAnimal',
                     data: $('form').serialize(),
                     type: 'POST',
                     success: function (response) {
                         var obj = JSON.parse(response);
                         if (obj.status === 'OK') {
                             $('#animalName').val("");
                             $('#species').val("");
                             $('#exhibit').val("");
                             $('#age').val("");
                             $('#type').val("");


                         }
                         else {
                             $("#div_add_alert").html("Error in adding Animal: Please make sure to specify the exact valid"
                                 + " exhibit name and that all fields are non empty");
                         }
                     },
                     error: function (error) {
                         console.log(error);
                     }
                 });
             } else {
                 $("#div_add_alert").html("Error in adding Animal PLease make sure all fields are non empty");
             }*/
        }


    </script>
</head>
<body>

<div class="form-container">
    <form action="../addShow" method="post">
        <h2 class="text-center">
            "Add Show"
        </h2>
        <input class="form-control" name="showName" placeholder="Show Name" type="text" id="showName"/>
        <select id="exhibit_name">
            <option selected disabled>Exhibit</option>
            <option value="Pacific">Pacific</option>
            <option value="Jungle">Jungle</option>
            <option value="Sahara">Sahara</option>
            <option value="Mountainous">Mountainous</option>
            <option value="Birds">Birds</option>
        </select>
        <select id="staff_name">
            {% for row in rows %}
                <option value="{{ row.Username }}">
                {{ row.Username }}
            {% endfor %}
        </select>
        <input class="form-control" name="date" placeholder="Date" type="datetime-local" id="date_time"/>
        <input class="form-control" name="time" placeholder="Time" type="time" id="time"/>

        <button id="addShowBtn" class="btn btn-primary btn-block" type="button"> Create Show</button>
    </form>
</div>

</body>
</html>
