<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Show</title>
</head>
<body>

    <div class="form-container">
      <form  action="../addShow" method="post">
        <h2 class="text-center">
          "Add Show"
        </h2>
        <input class="form-control" name="showName" placeholder="Show Name" type="text" id= "showName"/>
        <input class="form-control" name="dateTime" placeholder="Date & Times" type="text" id= "dateTime"/>
        <input class="form-control" name="locatedAt" placeholder="Location" type="text" id= "locatedAt"/>
        <input class="form-control" name="hostedBy" placeholder="Host" type="text" id= "hostedBy"/>

        <button id="addShowBtn" class="btn btn-primary btn-block" type="button"> Create Show </button>
      </form>
    </div>

</body>
</html>