<html>
  <head>
    <title> Shows </title>
    <script type="text/javascript">
      function searchTable() {
        var showName, showExhibit, showDate, table, tr;
        showName = document.getElementById("showName").value;
        showExhibit = document.getElementById("showExhibit").value;
        showDate = document.getElementById("showDate").value;
        table = document.getElementById("showsTable");
        tr = table.getElementsByTagName("tr");

        // Check if inputs have values and run appropriate script
        if (showName != "") {
          nameFilter(showName, tr, 0);
        }
        if (showExhibit != "") {
          nameFilter(showExhibit, tr, 1);
        }
      }

      function nameFilter(input, tr, k) {
        // Declare variables
        var td, i, txtValue;
        filter = input.toUpperCase();

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[k];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
    </script>
  </head>
  <body>
    <h2 class="ZooHeading"> Atlanta Zoo </h2>
    <h3 class="SiteHeading"> Shows </h3>
    <form class="Shows-Search">
    <p>Name: <input id="showName" type="text"></p>
    <p>
        Exhibit: 
        <select id="showExhibit">
        <option selected disabled>Choose one</option>
        <option value="All">All Exhibits</option>
        <option value="Pacific">Pacific</option>
        <option value="Jungle">Jungle</option>
        <option value="Sahara">Sahara</option>
        <option value="Mountainous">Mountainous</option>
        <option value="Birds">Birds</option>
        </select>  
      </p>
      <p>Date: <input id="showDate" type="date"></p>
    </form>
    <button id="search_shows_btn" onclick="searchTable()" btn btn-lg btn-primary btn-block" type="button">Search</button>
    <table id="showsTable" class="data-table">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Exhibit</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
         {% for row in rows %}
    <tr>
        <td> <input id="deleteMe" type="checkbox"> </td>
        <td>{{ row.Name }}</td>
        <td>{{ row.Exhibit }}</td>
        <td>{{ row.Date }}</td>
    </tr>
    {% endfor %}
      </tbody>
    </table>
    <button id="delete_show_btn" class="btn btn-lg btn-primary btn-block" type="button">Delete Show</button>
  </body>
</html>
