<html>
  <head>
    <title> Visitor </title>
  </head>
  <body>
    <h2 class="ZooHeading"> Atlanta Zoo </h2>
    <h3 class="SiteHeading"> Visitor </h3>
    <form action="../deleteAnimal" method="post">
    <table class="data-table">
      <thead>
        <tr>
          <th></th>
          <th>Username</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
         {% for row in rows %}
    <tr>
        <td><input name={{ row.Username }} type="checkbox"></td>
        <td>{{ row.Username }}</td>
        <td>{{ row.Email }}</td>
    </tr>
    {% endfor %}
      </tbody>
    </table>
    <button id="delete_visitor_btn" class="btn btn-lg btn-primary btn-block" type="button">Delete Visitor</button>
  </body>
</html>
