<html>
  <head>
    <title> Visitor </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">

    function deleteVisitor() {

        var username = $('#user_to_delete').find(":selected").val();

        if (username.length !== 0) {
            $.ajax({
                url: '/deleteVisitor',
                data: $('form').serialize(),
                type: 'POST',
                success: function (response) {
                    var obj = JSON.parse(response);
                    if (obj.status === 'OK') {
                        alert("User " + username + " successfully deleted");
                        //refresh the page to update table with added animal
                        updatePage();
                    }
                    else {
                        alert("Error in deleting User" + username);
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        } else {
            alert("Error in deleting User. Please refresh the page.");
        }
    }

    function updatePage() {
        window.location.href = "/ViewVisitors";
    }

</script>
  </head>
  <body>
    <h2 class="ZooHeading"> Atlanta Zoo </h2>
    <h3 class="SiteHeading"> Visitor </h3>
    <table class="data-table">
      <thead>
        <tr>
          <th></th>
          <th>Username</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
         {% for row in rows %}
    <tr>
        <td>{{ row.Username }}</td>
        <td>{{ row.Email }}</td>
    </tr>
    {% endfor %}
      </tbody>
    </table>
    <div>
      <form action="../deleteAnimal" method="post">>
        <select id="user_to_delete">
        {% for row in rows %}
          <option value={{ row.Username }}>
            {{ row.Username }}
          </option>
        {% endfor %}
        </select>
        <button id="delete_visitor_btn" class="btn btn-lg btn-primary btn-block" type="button" onclick="deleteVisitor()">
          Delete Visitor
        </button>
      </form>
    </div>
  </body>
</html>