<html>
<head>
    <title> Shows </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
        $("#searchBox").keyup(myFunction);
        });

          function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchBox").value.toUpperCase();
            table = document.getElementById("showsTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++ ){
                filter = input;
                // Loop through all table rows, and hide those who don't match the search query
                for (j = 0; j < 3; j++) {
                  td = tr[i].getElementsByTagName("td")[j];
                  if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                      tr[i].style.display = "";
                      break;s
                    } else {
                      tr[i].style.display = "none";
                    }
                  }
                }
            }
          }

        function sortMyTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("showsTable");
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /* Loop through all table rows (except the
                first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                    // Start by saying there should be no switching:
                    shouldSwitch = false;
                    /* Get the two elements you want to compare,
                    one from current row and one from the next: */
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /* Check if the two rows should switch place,
                    based on the direction, asc or desc: */
                    if (dir === "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir === "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch
                    and mark that a switch has been done: */
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    // Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /* If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again. */
                    if (switchcount === 0 && dir === "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }

        function deleteShow() {
            var res = $('#show option:selected').text();
            var name = res[0];
            var dt = res[1];
            alert(name + " | " | dt);
            alert(user);
            if (name.length !== 0) {
                $.ajax({
                    url: '/deleteShow',
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function (response) {
                        var obj = JSON.parse(response);
                        if (obj.status === 'OK') {
                            alert("User " + user + " successfully deleted");
                            //refresh the page to update table with added animal
                            updatePage();
                        }
                        else {
                            alert("Error in deleting User" + user);
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            } else {
                alert("Error in deleting User. Please refresh the page.");
            }
        }

        function updatePage() {
            window.location.href = "/viewStaff";
        }

    </script>
</head>
<body>
<button id="back_btn" class="btn btn-lg btn-primary btn-block" type="button"
        onclick="window.location.href='/Admin_Homepage'">Go Back to Admin Homepage
</button>

<h2 class="ZooHeading"> Atlanta Zoo </h2>
<h3 class="SiteHeading"> Shows </h3>
<form class="Shows-Search">
    Search: <input type="text" id="searchBox">
<!--    <p>Name: <input id="showName" type="text"></p>
    <p>
        Exhibit:
        <select id="showExhibit">
            <option selected disabled>Choose one</option>
            <option value="">All Exhibits</option>
            <option value="Pacific">Pacific</option>
            <option value="Jungle">Jungle</option>
            <option value="Sahara">Sahara</option>
            <option value="Mountainous">Mountainous</option>
            <option value="Birds">Birds</option>
        </select>
    </p>
    <p>Date: <input id="showDate" type="date"></p>-->
</form>
<button id="search_shows_btn" onclick="searchTable()" class="btn btn-lg btn-primary btn-block" type="button">Search
</button>
<table id="showsTable" class="data-table">
    <thead>
    <tr>
        <th onclick="sortMyTable(0)">Name</th>
        <th onclick="sortMyTable(1)">Exhibit</th>
        <th onclick="sortMyTable(2)">Date</th>
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr>
            <td>{{ row.Name }}</td>
            <td>{{ row.Exhibit }}</td>
            <td>{{ row.Date }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div>
    <form action="../deleteShow" method="post">
        <select class="form-control" name="show" id="show">
            {% for row in rows %}
                <option value="[{{ row.Name }}, {{ row.Date }}]">
                {{ row.Name }} , {{ row.Date }}
            {% endfor %}
        </select>
        <button id="delete-visitor-btn" class="btn btn-lg btn-primary btn-block" type="button"
                onclick="deleteShow()">
            Delete Show
        </button>
    </form>
</div>
<button id="back_btn" class="btn btn-lg btn-primary btn-block" type="button"
        onclick="window.location.href='/adminHomePage'">Go Back to Homepage
</button>
</body>
</html>
