<html>
  <head>
    <title> Shows </title>
  </head>
  <body>
    <h2 class="ZooHeading"> Atlanta Zoo </h2>
    <h3 class="SiteHeading"> Shows </h3>
    <form class="Shows-Search">
      <input type="text">
      <input type="text">
      <input type="text">
    </form>
    <table class="data-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Exhibit</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
         {% for row in rows %}
    <tr>
        <td>{{ row.Name }}</td>
        <td>{{ row.Exhibit }}</td>
        <td>{{ row.Date }}</td>
    </tr>
    {% endfor %}
      </tbody>
    </table>
    <button id="delete_show_btn" class="btn btn-lg btn-primary btn-block" type="button">Delete Show</button>
  </body>
</html>
