<html>
  <head>
    <title> Staff </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
    function deleteVisitor() {

        var user = $('#user').find(":selected").val();
        alert(user);
        if (user.length !== 0) {
            $.ajax({
                url: '/deleteVisitor',
                data: $('form').serialize(),
                type: 'POST',
                success: function (response) {
                    var obj = JSON.parse(response);
                    if (obj.status === 'OK') {
                        alert("User " + user + " successfully deleted");
                        //refresh the page to update table with added animal
                        updatePage();
                    }
                    else {
                        alert("Error in deleting User" + user);
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        } else {
            alert("Error in deleting User. Please refresh the page.");
        }
    }

    function updatePage() {
        window.location.href = "/viewStaff";
    }

</script>
  </head>
  <body>
    <h2 class="ZooHeading"> Atlanta Zoo </h2>
    <h3 class="SiteHeading"> Staff </h3>
    <table class="data-table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
         {% for row in rows %}
    <tr>
        <td>{{ row.Username }}</td>
        <td>{{ row.Email }}</td>
    </tr>
    {% endfor %}
      </tbody>
    </table>
    <div>
      <form action="../deleteStaff" method="post">>
        <select class="form-control" name="user" id="user">
        {% for row in rows %}
          <option value={{ row.Username }}>
            {{ row.Username }}
          </option>
        {% endfor %}
        </select>
        <button id="delete-visitor-btn" class="btn btn-lg btn-primary btn-block" type="button" onclick="deleteVisitor()">
          Delete Visitor
        </button>
      </form>
    </div>
  </body>
</html>
