<html>
<head>
    <title> Animal Detail </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
        function sortMyTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("animal_details_table");
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /* Loop through all table rows (except the
                first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                    // Start by saying there should be no switching:
                    shouldSwitch = false;
                    /* Get the two elements you want to compare,
                    one from current row and one from the next: */
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /* Check if the two rows should switch place,
                    based on the direction, asc or desc: */
                    if (dir === "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir === "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch
                    and mark that a switch has been done: */
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    // Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /* If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again. */
                    if (switchcount === 0 && dir === "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
</head>
<body>
<h2 class="ZooHeading"> Atlanta Zoo </h2>
<h3 class="SiteHeading"> Animals </h3>
<p id="animal_name_id">Name: {{ animal_data.AnimalName }}</p>
<p id="animal_species_id">Species: {{ animal_data.Species }}</p>
<p>Age: {{ animal_data.Age }}</p>
<p>Exhibit: {{ animal_data.Exhibit }}</p>
<p>Type: {{ animal_data.Type_of_Animal }}</p>
<form class="Animal Note">
    <input id="staff_note_id" type="text">
</form>
<button id="create_animal_detail_btn" class="btn btn-lg btn-primary btn-block" type="button">Log Notes</button>
<p id="logging_info"></p>
<table class="data-table" id="animal_details_table">
    <thead>
    <tr>
        <th onclick="sortMyTable(0)">Staff Member</th>
        <th onclick="sortMyTable(1)">Note</th>
        <th onclick="sortMyTable(2)">Time</th>
    </tr>
    </thead>
    <tbody>
    {% for row in notes_data %}
        <tr>
            <td>{{ row.Staff }}</td>
            <td>{{ row.Text_Input }}</td>
            <td>{{ row.Date_Time }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<button id="back_btn" class="btn btn-lg btn-primary btn-block" type="button"
        onclick="window.location.href='/StaffSearchAnimals'">Go Back to Search Animals Page
</button>
<button id="back_btn" class="btn btn-lg btn-primary btn-block" type="button"
        onclick="window.location.href='/staffHomePage'">Go Back to Homepage
</button>
</body>
<script type="text/javascript">


    $('#create_animal_detail_btn').click(function () {
        $("#logging_info").text("Logging into System..");

        //JSON object containing exhibit name clicked
        var animal_info = {
            'animal': $("#animal_name_id").text(),
            'species': $("#animal_species_id").text(),
            'staff_note': $("#staff_note_id").val()
        };

        $.ajax({
            url: '/LogStaffNote',
            type: 'POST',
            contentType: "application/json",
            data: JSON.stringify(animal_info),
            success: function (response) {
                $("#logging_info").text("Successfully added Note");
                var obj = JSON.parse(response);

                if (obj.status === 'OK') {

                    var refresh_page = {
                        'animal': obj.animal_name,
                        'species': obj.animal_species
                    };

                    $.ajax({
                        url: '/AnimalCare',
                        type: 'POST',
                        contentType: "application/json",
                        data: JSON.stringify(refresh_page),
                        success: function (response) {
                            document.open();

                            setTimeout(document.write(response), 5000);
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                } else {

                    $("#logging_info").text("Error adding Note,  make sure animal Exists (species and unique name)");

                }
            },
            error: function (error) {
                $("#logging_info").text("Error adding Note, make sure animal Exists (species and unique name");
                console.log(error);
            }
        });
    });


</script>

</html>
