<html>
  <head>
    <title> Animals </title>
    <script type="text/javascript">
      function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("animalTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
    </script>
  </head>
  <body>
    <h2 class="ZooHeading"> Atlanta Zoo </h2>
    <h3 class="SiteHeading"> Animals </h3>
    <form class="Animals-Search">
      <input type="text">
      <input type="text">
      <select>
        <option selected disabled>Choose one</option>
        <option value="Pacific">Pacific</option>
        <option value="Jungle">Jungle</option>
        <option value="Sahara">Sahara</option>
        <option value="Mountainous">Mountainous</option>
        <option value="Birds">Birds</option>
      </select>  
      <input type="text">
      <div class="unselected-field" style="display: inline-block;" id="Water">
      <select>
          <option selected disabled>Choose one</option>
          <option value="Mammal">Mammal</option>
          <option value="Bird">Bird</option>
          <option value="Amphibian">Amphibian</option>
          <option value="Reptile">Reptile</option>
          <option value="Fish">Fish</option>
          <option value="Invertebrate">Invertevbrate</option>
       </select>
       </div>
    </form>
    <button id="search_animals_btn" class="btn btn-lg btn-primary btn-block" type="button" onclick="myFunction()">Search</button>
    <table class="data-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Species</th>
          <th>Exhibit</th>
          <th>Age</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody id="animalTable">
         {% for row in rows %}
    <tr>
        <td>{{ row.Name }}</td>
        <td>{{ row.Species }}</td>
        <td>{{ row.Exhibit }}</td>
        <td>{{ row.Age }}</td>
        <td>{{ row.Type }}</td>
    </tr>
    {% endfor %}
      </tbody>
    </table>
  </body>
</html>
