<html>
<head>
    <title> Animal Detail </title>
</head>
<body>
<h2 class="ZooHeading"> Atlanta Zoo </h2>
<h3 class="SiteHeading"> Animal Detail </h3>
<p>Name: {{ animal.AnimalName }} </p>
<p>Species: {{ animal.Species }}</p>
<p>Exhibit: {{ animal.Exhibit }}</p>
<p>Age: {{ animal.Age }}</p>
<p>Type: {{ animal.Type_of_Animal }}</p>
<button id="back_btn" class="btn btn-lg btn-primary btn-block" type="button"
        onclick="window.location.href='/visitorHomePage'">Go Back to Homepage
</button>
</body>
</html>
