<html>
<head>
    <title> Exhibit Detail </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
    }

    function sortMyTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("myTable");
      switching = true;
      // Set the sorting direction to ascending:
      dir = "asc";
      /* Make a loop that will continue until
      no switching has been done: */
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /* Loop through all table rows (except the
        first, which contains table headers): */
        for (i = 1; i < (rows.length - 1); i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          /* Get the two elements you want to compare,
          one from current row and one from the next: */
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          /* Check if the two rows should switch place,
          based on the direction, asc or desc: */
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          /* If a switch has been marked, make the switch
          and mark that a switch has been done: */
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          // Each time a switch is done, increase this count by 1:
          switchcount ++;
        } else {
          /* If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again. */
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
    </script>
</head>
<body>
<h2 class="ZooHeading"> Atlanta Zoo </h2>
<h3 class="SiteHeading"> Exhibit Detail </h3>
<p id="exhibit_name_p">Name: {{ exhibit.ExhibitName }} </p>
<p>Size: {{ exhibit.Size }} </p>
<p>Number of Animals: {{ exhibit.NumAnimals }}</p>
<p>Water Feature: {{ exhibit.WaterFeature }}</p>
<button id="log_visit_btn" class="btn btn-lg btn-primary btn-block" type="button" onclick="LogClick()">Log Visit
</button>
<p id="log_btn_success">Click Above to Log Visit to this Exhibit</p>
<table class="data-table" id="myTable">
    <thead>
    <tr>
        <th onclick="sortMyTable(0)">Name</th>
        <th onclick="sortMyTable(1)">Species</th>
    </tr>
    </thead>
    <tbody id="animal_table">
    {% for row in animals_row %}
        <tr>
            <td>
                <a id="animal_name_id" href="#">{{ row.Name }}</a>
            </td>
            <td>{{ row.Species }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<button id="back_btn" class="btn btn-lg btn-primary btn-block" type="button"
        onclick="window.location.href='/visitorHomePage'">Go Back to Visitor Homepage
</button>
</body>

<script type="text/javascript">


    $('#animal_table tr').click(function () {
        $("#log_btn_success").text("animal name clicked: " + $(this).closest('tr').find('td:eq(0)').text());

        //JSON object containing exhibit name clicked
        var animal = {
            'animal': $(this).closest('tr').find('td:eq(0)').text(),
            'species': $(this).closest('tr').find('td:eq(1)').text()
        };

        $.ajax({
            url: '/AnimalDetails',
            type: 'POST',
            contentType: "application/json",
            data: JSON.stringify(animal),
            success: function (response) {
                document.open();
                document.write(response);
            },
            error: function (error) {
                console.log(error);
            }
        });

    });


    /*function animalClick() {
        $('#log_btn_success').text("Successfully clicked animal");
        //JSON object containing exhibit name clicked
        var animal = {
            'animal': $(this).closest('tr').find('td:eq(0)').text()
        };

        $.ajax({
            url: '/AnimalDetails',
            type: 'POST',
            contentType: "application/json",
            data: JSON.stringify(animal),
            success: function (response) {

                $('#log_btn_success').text("Successfully return from POST ");
            },
            error: function (error) {
                console.log(error);
            }
        });

    };*/


    function LogClick() {

        var visit_info = {
            'exhibit': $('#exhibit_name_p').text()
        };

        $.ajax({
            url: '/LogExhibitVisit',
            type: 'POST',
            contentType: "application/json",
            data: JSON.stringify(visit_info),
            success: function (response) {

                $('#log_btn_success').text("Successfully logged visit");
            },
            error: function (error) {
                console.log(error);
            }
        });

    }


</script>
</html>
