<html>
<head>
    <title> Search for Animals </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<h2 class="ZooHeading"> Atlanta Zoo </h2>
<h3 class="SiteHeading"> Animals </h3>
<form class="Animals-Search">
    Name: <input id="animal_name_id" type="text">
    Species <input id="animal_species_id" type="text">
    Exhibit: <select>
    <option selected disabled>Choose one</option>
    <option value="Pacific">Pacific</option>
    <option value="Jungle">Jungle</option>
    <option value="Sahara">Sahara</option>
    <option value="Mountainous">Mountainous</option>
    <option value="Birds">Birds</option>
</select>
    Min Age of Animal:<input type="number" id="min_age" name="min_age" min="0" value="0">
    Max Age:<input type="number" id="max_age" name="max_age" min="0" max="9999999">
    <div class="unselected-field" style="display: inline-block;" id="Water">
        Animal Type: <select>
        <option selected disabled>Choose one</option>
        <option value="Mammal">Mammal</option>
        <option value="Bird">Bird</option>
        <option value="Amphibian">Amphibian</option>
        <option value="Reptile">Reptile</option>
        <option value="Fish">Fish</option>
        <option value="Invertebrate">Invertevbrate</option>
    </select>
    </div>
</form>
<button id="search_animal_btn" class="btn btn-lg btn-primary btn-block" type="button">Search</button>
<table class="data-table" id="animal_table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Species</th>
        <th>Exhibit</th>
        <th>Age</th>
        <th>Type</th>
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr>
            <td>{{ row.Name }}</td>
            <td>{{ row.Species }}</td>
            <td>
                <a id="exhibit_name_id" href="#">{{ row.Exhibit}}</a>
            </td>
            <td>{{ row.Age }}</td>
            <td>{{ row.Type }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<p id="info">Click an Exhibit to see more details</p>
</body>

<script type="text/javascript">
    $(function() {

        $('#animal_table tr').click(function () {
            $("#info").text("exhibit name clicked: " +  $(this).closest('tr').find('td:eq(2)').text());

            //JSON object containing exhibit name clicked
            var Exhibit = {
                'exhibit': $(this).closest('tr').find('td:eq(2)').text()
            };

            $.ajax({
                url: '/ExhibitDetail',
                type: 'POST',
                contentType: "application/json",
                data: JSON.stringify(Exhibit),
                success: function (response) {

                    document.write(response);
                },
                error: function (error) {
                    console.log(error);
                }
            });

        });
    });

</script>
</html> 
