<html>
  <head>
    <title> Search for Animals </title>
  </head>
  <body>
    <h2 class="ZooHeading"> Atlanta Zoo </h2>
    <h3 class="SiteHeading"> Animals </h3>
    <form class="Animals-Search">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
    </form>
    <table class="data-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Species</th>
          <th>Exhibit</th>
          <th>Age</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
         {% for row in rows %}
    <tr>
        <td>{{ row.Name }}</td>
        <td>{{ row.Species }}</td>
        <td>{{ row.Exhibit }}</td>
        <td>{{ row.Age }}</td>
        <td>{{ row.Type }}</td>
    </tr>
    {% endfor %}
      </tbody>
    </table>
  </body>
</html> 