<html>
  <head>
    <title> Search for Exhibits </title>
  </head>
  <body>
    <h2 class="ZooHeading"> Atlanta Zoo </h2>
    <h3 class="SiteHeading"> Exhibits </h3>
    <form class="Exhibit-Search">
      <div id="form-fields">
          <span>Name</span>
          <span>Size (ft^2)</span>
          <span>Number of Animals</span>
          <span>Water Features (Y/N)</span>
      </div>
      <div id="form-inputs">
        <input type="text">
        <input type="text"> 
        <input type="text">
        <div class="unselected-field" style="display: inline-block;" id="Water">
          <select>  
            <option selected disabled>Choose one</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>     
      </div>
    </form>
    <button id="search_exhibit_btn" class="btn btn-lg btn-primary btn-block" type="button">Search</button>
    <table class="data-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>NumAnimals</th>
          <th>Water</th>
        </tr>
      </thead>
      <tbody>
         {% for row in rows %}
    <tr>
        <td>{{ row.ExhibitName }}</td>
        <td>{{ row.Size }}</td>
        <td>{{ row.NumAnimals }}</td>
        {% if row.WaterFeature == 1 %}
            <td>{{ "Yes" }}</td>
        {% else %}
            <td>{{ "No" }}</td>
        {% endif %}
    </tr>
    {% endfor %}
      </tbody>
    </table>
  </body>
</html>
