<html>
  <head>
    <title> Search for Shows </title>
  </head>
  <body>
    <h2 class="ZooHeading"> Atlanta Zoo </h2>
    <h3 class="SiteHeading"> Shows </h3>
    <form class="Shows-Search">
      <input type="text">
      <select>
        <option selected disabled>Choose one</option>
        <option value="Pacific">Pacific</option>
        <option value="Jungle">Jungle</option>
        <option value="Sahara">Sahara</option>
        <option value="Mountainous">Mountainous</option>
        <option value="Birds">Birds</option>
      </select>  
      <input type="date" name="date">
    </form>
    <button id="search_shows_btn" class="btn btn-lg btn-primary btn-block" type="button">Search</button>
    <table class="data-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Exhibit</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
         {% for row in rows %}
    <tr>
        <td>{{ row.Name }}</td>
        <td>{{ row.Exhibit }}</td>
        <td>{{ row.Date }}</td>
    </tr>
    {% endfor %}
      </tbody>
    </table>
  </body>
</html>
