<html>
<head>
    <title> Search for Exhibits </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
        $("#searchBox").keyup(myFunction);
        });

      function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchBox").value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        // alert("Filtering results");
        for (i = 0; i < tr.length; i++ ){
            filter = input;
            // Loop through all table rows, and hide those who don't match the search query
            for (j = 0; j < 3; j++) {
              td = tr[i].getElementsByTagName("td")[j];
              if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = "";
                  break;
                } else {
                  tr[i].style.display = "none";
                }
              }
            }
        }
      }

        function sortMyTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("myTable");
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /* Loop through all table rows (except the
                first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                    // Start by saying there should be no switching:
                    shouldSwitch = false;
                    /* Get the two elements you want to compare,
                    one from current row and one from the next: */
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /* Check if the two rows should switch place,
                    based on the direction, asc or desc: */
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch
                    and mark that a switch has been done: */
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    // Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /* If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again. */
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
</head>
<body>
<h2 class="ZooHeading"> Atlanta Zoo </h2>
<h3 class="SiteHeading"> Exhibits </h3>
<form class="Exhibit-Search">
    Search: <input id="searchBox">
<!--    <div id="form-fields">
    </div>
    <div id="form-inputs">
        Name:<input id="searchInput" type="text">
        Min Size of Exhibit:<input type="number" id="min_size_exhibit" name="min_size" min="0" value="0">
        Max Size:<input type="number" id="max_size_exhibit" name="max_size" min="0" max="9999999">
        Min Number of animals:<input type="number" id="min_num_animals" name="min_animals" min="0" value="0">
        Max Number: <input type="number" id="max_num_animals" name="max_animals" min="0" max="9999999">
        Water Feature Y/N:
        <div class="unselected-field" style="display: inline-block;" id="Water">
            <select>
                <option selected disabled>Choose one</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
    </div>-->
</form>
<button id="search_exhibit_btn" class="btn btn-lg btn-primary btn-block" type="button">Search</button>
<table class="data-table" id="myTable">
    <p id="info">Click an Exhibit to see more details</p>
    <thead>
    <tr>
        <th onclick="sortMyTable(0)">Name</th>
        <th onclick="sortMyTable(1)">Size</th>
        <th onclick="sortMyTable(2)">NumAnimals</th>
        <th onclick="sortMyTable(3)">Water</th>
    </tr>
    </thead>
    <tbody id="exhibit_table">
    {% for row in rows %}
        <tr>
            <td>
                <a id="exhibit_name_id" href="#">{{ row.ExhibitName }}</a>
            </td>
            <td>{{ row.Size }}</td>
            <td>{{ row.NumAnimals }}</td>
            {% if row.WaterFeature == 1 %}
                <td>{{ "Yes" }}</td>
            {% else %}
                <td>{{ "No" }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<button id="back_btn" class="btn btn-lg btn-primary btn-block" type="button"
        onclick="window.location.href='/visitorHomePage'">Go Back to Homepage
</button>
</body>

<script type="text/javascript">
    $(function () {

        $('#exhibit_table tr').click(function () {
            $("#info").text("exhibit name clicked: " + $(this).closest('tr').find('td:eq(0)').text());
            setTimeout(3000);

            //JSON object containing exhibit name clicked
            var animal_info = {
                'exhibit': $(this).closest('tr').find('td:eq(0)').text()
            };

            $.ajax({
                url: '/ExhibitDetail',
                type: 'POST',
                contentType: "application/json",
                data: JSON.stringify(animal_info),
                success: function (response) {

                    document.write(response);
                },
                error: function (error) {
                    console.log(error);
                }
            });

        });
    });

</script>
</html>
